modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "dev"

[[workflows.workflow]]
name = "dev"
mode = "sequential"
author = 17738544

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 4000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[agent]
expertMode = true
